# Core Frameworks
fastapi
uvicorn
streamlit
pydantic
python-dotenv
python-multipart

# File Parsing
pdfplumber
python-docx

# LangGraph & LangChain
langgraph
langchain-core
langchain-community
langchain-openai
langchain-google-genai

# Local Models
#llama-cpp-python==0.2.56

# Web Scraping & Automation (Phase 3 & 5)
playwright
beautifulsoup4
requests

# Duckduckgo Search API (Phase 3)
duckduckgo-search

# Database & Integration (Phase 4)
notion-client

# MLOps & Observability (Phase 6)
langsmith